body {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Syne Mono', monospace;
}

img {
  max-width: 100%;
  height: auto;
}

header,
nav,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

main{
    font-style: italic;
}

header,
footer {
  background-color: rgb(94, 94, 95);
  text-align: center;
}

header {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: rgb(255, 246, 163);
}

footer {
  padding: 0.1rem;
  color: rgb(224, 255, 213);
}
