body {
  font-size: 18px;
  line-height: 1.5;
}

header,
nav,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

header,
footer {
  background-color: rgb(126, 133, 139);
  color: rgb(211, 197, 76);
  text-align: center;
}

header {
  padding: 3rem;
}

footer {
    padding: .1rem;
}