body {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Syne Mono", monospace;
  background-color: rgb(223, 223, 223);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.5rem;
}

main {
  font-size: 12px;
}

header,
nav,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

main {
  font-style: italic;
}

header,
footer {
  background-color: rgb(100, 100, 100);
  text-align: center;
  color: rgb(255, 243, 131);
}

header {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

footer {
  padding: 0.1rem;
  font-size: 11px;
}
