@media only screen and (min-width: 64rem) {
  nav ul li a {
    padding: 0.75rem 5rem;
  }

  header div#logo img {
    max-width: 30%;
  }

  main.container {
    display: grid;
    width: 1000px;
    align-self: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }

  main div.hero {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  main div.weather {
    grid-column: 4/6;
    grid-row: 1/2;
  }

  main div.release {
    grid-column: 6/9;
    grid-row: 1/2;
  }

  main div.event {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  main div.join {
    grid-column: 5/9;
    grid-row: 2/3;
  }

  main div.one {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  main div.two {
    grid-column: 4/6;
    grid-row: 3/4;
  }

  main div.three {
    grid-column: 6/9;
    grid-row: 3/4;
  }
}
