body {
}

header {
  background-color: #201a10;
  color: #fff;
}

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #d3bb7f;
}

nav {
  background-color: #502b14;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #d3bb7f;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

header {
  padding: 30px 0;
  align-items: center;
}

header div#title {
  text-align: center;
}

header div#title h1 {
  font-size: 1.5rem;
  white-space: nowrap;
}

header div#title h3 {
  font-size: 1rem;
  white-space: nowrap;
}

header div#logo {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

header span#currentTime {
  text-align: center;
}

header div#social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  
}

header div#social-media img {
  padding: 5px;
  background-color: #502b14;
  border: 5px solid #201a10;
  border-radius: 10px 10px 10px 10px;
}

#social-media img {
  max-width: 60px;
}

main div.section,
main div.spotlight {
  width: 90%;
  margin: 10px auto;
  border: 3px solid rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  min-height: 10rem;
  text-align: center;
  background-color: #c59d61;
}

footer {
  margin: 1.25rem auto;
  background-color: #201a10;
  text-align: center;
  color: #fff;
  padding: 00.5rem;
}

footer img {
  max-width: 200px;
}
