* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

hr.line-break {
  padding: 0;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
/* Button CSS Rules */
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
}
nav button#hamburger-btn span:nth-child(1),
nav button#hamburger-btn-two span:nth-child(1) {
  display: block;
}
nav button#hamburger-btn span:nth-child(2),
nav button#hamburger-btn-two span:nth-child(2) {
  display: none;
}
nav button.open#hamburger-btn span:nth-child(1),
nav button.open#hamburger-btn-two span:nth-child(1) {
  display: none;
}
nav button.open#hamburger-btn span:nth-child(2),
nav button.open#hamburger-btn-two span:nth-child(2) {
  display: block;
}
/****/

/* Header CSS Rules */
header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
header div.header-logo {
  text-align: center;
}
header div.header-logo img {
  max-width: 200px;
  margin: 0.4rem;
}
/****/

/* Nav CSS Rules */
nav {
  display: flow-root;
}
nav ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #abadb0;
}
nav ul.open {
  display: block;
}
ul#primary-nav.open {
  position: absolute;
  width: 100vw;
  z-index: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
nav span a i {
  color: black;
  font-size: 2rem;
}
nav span:nth-child(2) a i {
  float: right;
  margin: 0.2rem 4px;
}
nav span:nth-child(3) a i {
  float: right;
  margin: 0.2rem 4px;
}
nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
/****/

/* Main CSS Rules */
main {
  position: relative;
}
main.index div.main-temple {
  text-align: center;
}
main.index div.main-temple picture.temple-picture img {
  max-width: 100vw;
  background-color: #3a66f8;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
main.index div.main-offers {
  text-align: center;
  display: grid;
  grid-auto-flow: column;
}
main.index div.main-offers picture img{
  background-color: #3a66f8;
  padding: 5px;
  border-radius: 10px;
  max-width: 25vw;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
main.index div.main-weather {
  display: grid;
}
main.index div.main-weather div.weather-current {
  background-color: #abadb0;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
main.reservation{
  padding: 0 2%;
  min-height: 20rem;
}
main.reservation h1, main.response{
  text-align: center;
}
main.reservation form fieldset{
  margin: 2rem 0;
  border: 1px solid #abadb0;
  border-radius: 10px;
  padding: .5rem 2%;
  max-width: 22rem;
}
main.reservation form legend{
  margin: 0 1rem;
  padding: 0 .5rem;
}
main.reservation form label.top{
  display: block;
  padding-top: 1rem;
  font-size: .8rem;
}
main.reservation form label.top input, form label.top textarea{
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: .75rem;
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 20rem;
}
main.reservation form label.sbs {
  display: block;
  padding: .75rem;
  color: #3a66f8;
}
main.reservation form label.sbs:hover{
  cursor: pointer;
}
main.reservation form input.submitBtn{
  border: none;
  background-color: #3a66f8;
  color:#ffffff;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  max-width: 20rem;
}
main.reservation form input.submitBtn:hover{
  background-color: rgba(58, 102, 248, 0.8);
  cursor: pointer;
}
main.join h4, main.contact h4{
  padding: .75rem;
  color:#fff
}
/****/

/* Footer CSS Rules */
footer {
  display: grid;
  font-size: 13px;
  background-color: #abadb0;
}
footer div.footer-logo {
  grid-column: 1/2;
  grid-row: 1/6;
}
footer div#footer-subsection {
  grid-column: 2/3;
  grid-row: 3/4;
}
footer div.footer-logo {
  text-align: center;
}
footer div.footer-logo img {
  max-width: 100px;
  margin: 0.4rem;
}
/****/