* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Header CSS Rules */
header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
/****/

/* Nav CSS Rules */
nav {
  background-color: #abadb0;
}
nav button {
  margin: .2rem 2vw;
  color: #555;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: #111;
  border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #ffffff;
}
nav ul li a:hover {
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
}

/****/
